<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SEMED</title>
    <link
      rel="icon"
      href="../static/imagenes/contacto/SEMED.png"
      title="SEMED - Iniciar sesión"
    />

    <link rel="stylesheet" href="../static/dashboard.css" />
    <script type="module" src="../static/js/main.js"></script>
  </head>

  <body>
    <!-- Barra de navegación -->

    <header>
      <div class="logo">
        <img src="../static/imagenes/contacto/SEMED.png" alt="SEMED" /> SEMED
      </div>

      <nav>
        <ul>
          <li><a href="#footerbottom">Contacto</a></li>
          <li>
            <a
              href="https://drive.google.com/file/d/1BuoO2uCHqvHFjIcxs9y2GdlD10MZw9Ed/view?usp=sharing"
              target="_blank"
              >Manual de usuario</a
            >
          </li>

          <li><a href="#configurarperfil">configurar perfil</a></li>

          <li>
            <a
              href="../templates/registromedicantos.html"
              target="_blank"
              class="btn-register"
            >
              Registrar Medicamento
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Contenedor-->
    <main class="dashboard">
      <div class="top">
        <div class="semedtext">
          <br />
          <h1>Sistema de Gestión de Calidad del Método SEMED</h1>
          <br />
          <p>
            Gestión inteligente de vencimiento para inventario médico. Este
            sistema permite monitorear el estado de los medicamentos según su
            fecha de caducidad, clasificándolos en categorías visuales que
            facilitan el control del inventario y ayudan a prevenir pérdidas o
            riesgos en el uso de productos vencidos.
          </p>
          <br />
        </div>
      </div>
      <br />

      <div class="acciones">
        <button class="btn">⚙ Configurar Categorías</button>
        <button class="btn pricipal">➕Agregar medicamento</button>
      </div>

      <div class="busqueda">
        <input type="search" placeholder="Buscar medicamento por nombre" />
        <button class="buscar">🔍Buscar</button>
      </div>
      <br />

      <div class="legend">
        <span class="pill verde"> Seguro (&gt;30 días)</span>
        <span class="pill amarillo"> Atención (5-15 días)</span>
        <span class="pill rojo"> Crítico (&lt;5 días)</span>
      </div>
    </main>

    <section id="bottom">
      <div class="kanban">
        <div class="colseguro">
          <h3>✔ Seguro</h3>
          <!-- <div class="card" draggable="true"> -->
          <!-- <h4>Sertralina</h4> -->
          <!-- nombre del medicamento-->
          <!-- <h6>lote: 09</h6> -->
          <!-- lote -->
          <!-- <p>50mg- Tabletas</p> -->
          <!--miligramos y presentación-->
          <!-- <p>2000 unds.</p> -->
          <!-- cantidad inventario-->
          <!-- <h4>2021M-0001992-R2</h4> -->
          <!--Registro invima-->
          <!-- <p>Genfar</p> -->
          <!-- laboratorio -->
          <!-- <p class="fecha">Vence: 12/08/2026</p> -->
          <!-- fecha de vencimiento-->
          <!-- </div> -->
        </div>
        <div class="colatencion">
          <h3>⚠ Atención</h3>
        </div>
        <div class="colcritico">
          <h3>❌ Crítico</h3>
        </div>
      </div>
    </section>

    <br />
    <!-- Pie de página -->

    <footer id="footerbottom">
      <!--contacto card-->

      <div class="contact-card">
        <h4>Contacto</h4>
        <br />
        <p>
          Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos:
        </p>

        <ul>
          <img
            src="../static/imagenes/contacto/chatting_11773689.png"
            alt="www.freepik.com"
          />
          <li><strong>Email:</strong> info@semed.com</li>
          <img
            src="../static/imagenes/contacto/customer-service_12660994.png"
            alt="www.freepik.com "
          />
          <li><strong>Teléfono:</strong> +34 91 123 45 67</li>
        </ul>
      </div>
      <br />
      <p>
        © 2023 SEMED - Sistema de gestión semed. Todos los derechos reservados.
      </p>
    </footer>
  </body>
</html>
