<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Medicamento</title>
    <link rel="icon" href="../static/imagenes/contacto/SEMED.png" title="SEMED - Registrar medicamento">
    <link rel="stylesheet" href="../static/registromedicamentos.css">
</head>
<body>
     <!-- Barra de navegación -->

    <header>
      
      <div class="logo"> <img src="../static/imagenes/contacto/SEMED.png" alt="SEMED"> SEMED</div>

      <nav>
        <ul>
            <li><a href="#footerbottom">Contacto</a></li>
          <li><a href="https://drive.google.com/file/d/1BuoO2uCHqvHFjIcxs9y2GdlD10MZw9Ed/view?usp=sharing" target="_blank">Manual de usuario</a></li>

          <li><a href="#configurarperfil">configurar perfil</a></li>
          
          <li><a href="../templates/dashboard.html" target="_blank" class="btn-register">Volver SEMED </a></li>

        </ul>
      </nav>
    </header>

    <main>
                <div class="h1">
                    <h1>Registrar nuevo medicamento:</h1>

        </div>
    </main>
    <!-- formulario de registro  de medicamentos-->
    <section class="registro">

        <form id="card">
            <label for="nombre">Nombre del medicamento:</label>
            <input type="text" placeholder="ej. Sertralina" id="nombre" name="nombre" required>

            <label for="lote">Número de lote:</label>
            <input type="text" placeholder="Ej. 09" id="lote" name="lote" required>

            <label for="presentacion">Presentación:</label>
            <input type="text" placeholder="Ej. 50mg - Tabletas" id="presentacion" name="presentacion" required>

            <label for="cantidad">Cantidad en inventario:</label>
            <input type="number" placeholder="Unidades" id="cantidad" name="cantidad" required>

            <label for="laboratorio">Nombre del laboratorio:</label>
            <input type="text" placeholder="Ej. laboratorio ABYZ" id="laboratorio" name="laboratorio" required>

            <label for="registro_invima">Registro INVIMA:</label>
            <input type="text" placeholder="Ej. 2023M-0017613-R1" id="registro_invima" name="registro_invima" required>

            <label for="fecha_vencimiento">🔴🟡🟢Fecha de vencimiento:</label>
            <input type="date" placeholder="dd/mm/aaaa" id="fecha_vencimiento" name="fecha_vencimiento" required>

            <button type="submit" class="button-medicamento">💊Registrar medicamento💊</button>
        </form>

    </section>

 <!-- Pie de página -->

    <footer id="footerbottom">
<!--contacto card-->

      <div class="contact-card">
        <h4>Contacto</h4>
<br>
        <p>
          Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos:
        </p>

        <ul>
          <img src="../static/imagenes/contacto/chatting_11773689.png" alt="www.freepik.com"><li><strong>Email:</strong> info@semed.com</li>
          <img src="../static/imagenes/contacto/customer-service_12660994.png" alt="www.freepik.com "><li><strong>Teléfono:</strong> +34 91 123 45 67</li>
        </ul>
      </div>
<br>
      <p>
        © 2023 SEMED - Sistema de gestión semed. Todos los derechos reservados.
      </p>
    </footer>
    <script src="../static/js/medicamentos.js"></script>
</body>
</html>